table, th, td {
    border: 2px solid #444444;
    border-collapse: collapse;
    text-align : center;
}

/*
.scrolltbody tbody {
    display: block;
    height: 680px;
    overflow: auto;
}
*/